<ion-header [translucent]="true" style="background-color: #E0E0E0;" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Calendrier
    </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="setToday()">
        Aujourd'hui
    </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-segment  [(ngModel)]="calendar.mode">
      <ion-segment-button  value="month">Mois</ion-segment-button>
      <ion-segment-button  value="week">Semaine</ion-segment-button>
      <ion-segment-button  value="day">Jour</ion-segment-button>
    
      </ion-segment>
  </ion-card>

<ion-card>
  <div>


  <ion-row  class="ion-justify-content-center">
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="7">
      <h2 style="color: #000;" class="ion-text-center">
          {{viewTitle}}
      </h2>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarForward()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-card>




<calendar
[calendarMode]="calendar.mode"
[eventSource]="eventSource"
[startingDayMonth]="1"
[startingDayWeek]="1"
[startHour]="8"
[endHour]="18"
[autoSelect]="false"
(onEventSelected)="onEventSelected($event)"
(onTimeSelected)="onTimeSelected($event)"
[monthviewDisplayEventTemplate]="template"
[weekviewAllDayEventTemplate]="weekviewAllDayEventTemplate"
(onTitleChanged)="viewTitle = $event">
</calendar>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button id="inputmodal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal 
#modal trigger="inputmodal"
[presentingElement]="presentingElement">
  <ng-template>
    <ion-header style="background-color: #f4f5f8;" class="ion-no-border">
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()"> Annuler </ion-button>
        </ion-buttons>
        <ion-title>Nouvel évènement</ion-title>
        <ion-buttons slot="end">
          <ion-button
          color="primary"
          strong 
          [disabled]="!newEvent.title"
          (click)="scheduleEvent()"> Ajouter </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding modal" >

      <div class="group">
        <ion-input
        type="text"
        value={{num}}
        [(ngModel)]="newEvent.title" placeholder="Titre"
        >

        </ion-input>
      </div>

      <div class="group">
         <ion-item>

          <ion-toggle
          [(ngModel)]="newEvent.allDay">
          Toute la journée
          </ion-toggle>
        </ion-item> 

        <ion-item (click)="showStart = !showStart">
          <ion-label>Commence</ion-label>
          <ion-text slot="end">{{ formatedStart }}</ion-text>
        </ion-item>
        <ion-datetime 
        #start 
        *ngIf="showStart"
        [value]="newEvent.startTime"
        (ionChange)="startChanged(start.value)"
        [presentation]="newEvent.allDay ? 'date' : 'time-date'"
        hourCycle="h24"
        >
        </ion-datetime>

          <ng-container *ngIf="!newEvent.allDay">
          <ion-item (click)="showEnd = !showEnd">
            <ion-label>Fin</ion-label>
            <ion-text slot="end">{{ formatedEnd }}</ion-text>
          </ion-item>
          <ion-datetime 
          #end 
          [value]="newEvent.endTime"
          *ngIf="showEnd"
          (ionChange)="endChanged(end.value)"
          [presentation]="newEvent.allDay ? 'date' : 'time-date'"
          hourCycle="h24"
          >
          
          </ion-datetime>
        </ng-container> 


      </div>



    </ion-content>
  </ng-template>

</ion-modal>

<ng-template #template let-view="view" let-row="row" let-col="col">
  {{view.dates[row*7+col].label}}
  <div class="indicator-container">
    <div 
    class="event-indicator" 
    *ngFor="let e of view.dates[row*7+col].events">
      *
    </div>
  </div>
</ng-template>

<ng-template #weekviewAllDayEventTemplate let-displayEvent="displayEvent">
  <div class="calendar-event-inner week-event" >{{displayEvent.event.title}}</div>
</ng-template>

</ion-content>