<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>demande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
  (ionChange)="Search()"
  show-clear-button="focus"
  animated="true"
  [debounce]="1000"
  ></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [inset]="true">
    <ion-list-header>
        <ion-col size="4" size-md="2" size-lg="1">
          Date de demande
        </ion-col>
        <ion-col size="1" class="ion-hide-lg-down">
          Nature        
        </ion-col>
        <ion-col size="1" class="ion-hide-lg-down">
          Catégorie
        </ion-col>
        <ion-col size="1" class="ion-hide-lg-down">
          Abonnement
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          MSISDN        
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          Nom et prénom
        </ion-col>
        <ion-col size="2" size-md="2" size-lg="1" class="ion-hide-md-down">
          adresse
        </ion-col>
        <ion-col size="2" size-md="2" size-lg="1" class="ion-hide-lg-down">
          CGPS
        </ion-col>        
        <ion-col size="3" size-md="2" size-lg="1" >
          Contact 1 

        </ion-col>
        
        <ion-col size="2" size-md="2" size-lg="1" class="ion-hide-lg-down">
        IMEI 
        </ion-col>        
        
        <ion-col size="4" size-md="2" size-lg="2">
          Date d'intervention planifié
        </ion-col>
      </ion-list-header>
  
    <ion-item 
    *ngFor="let d of demandes; let i = index;" class="data-row">
    
      <ion-col button
      (click)="openDetails(d)"
       size="4" size-md="2" size-lg="1">
        {{ d.dateDemande }}
      </ion-col>

      <ion-col size="1" class="ion-hide-lg-down">
      {{ d.nature }}
      </ion-col>
      <ion-col size="1" class="ion-hide-lg-down">
        {{ d.category }} {{d.activation.fix.type}}
      </ion-col>
      <ion-col size="1" class="ion-hide-lg-down">
        {{ d.abonnement }} {{d.activation.fix.debit}}
      </ion-col>
      <ion-col size="1" class="ion-hide-md-down">
        {{ d.activation.fix.msisdn }}
      </ion-col>
      <ion-col size="1" class="ion-hide-md-down">
        {{ d.activation?.prenom }} {{ d.activation?.nom }}
      </ion-col>
      <ion-col size="3" size-md="2" size-lg="1" class="ion-hide-md-down">
        {{ d.activation?.adresse }}
      </ion-col>
      <ion-col size="2" size-md="2" size-lg="1" class="ion-hide-lg-down">
        <a [href]="'https://www.google.com/maps/search/?api=1&query=' + d.reservation?.latitude + ',' + d.reservation?.longitude" target="_blank">
        {{ d.activation?.latitude }} , {{d.activation?.longitude}}
        </a>
      </ion-col>
      <ion-col size="3" size-md="2" size-lg="1" (click)="callNumber(d.activation?.numContact)" >
        {{ d.activation?.numContact }}
      </ion-col>
      <ion-col size="2" size-md="2" size-lg="1" class="ion-hide-lg-down">
        {{ d.activation.fix.imei }}
      </ion-col>
      <ion-col size="4" size-md="2" size-lg="2">

        <ng-container *ngIf="d.datePlanif">
          {{ d.datePlanif}}
        </ng-container>

        <ng-container *ngIf="!d.datePlanif">
          <div class="center">
            <ion-col size="auto">
              <ion-icon (click)="goToEvents(d.id,d.activation?.numContact)" name="calendar-clear-sharp"></ion-icon>
              </ion-col>
          </div>

         </ng-container>

          
      <!--           
        <ion-input 
          size="small"
          type="date" 
          max="2005"
          label=""
          errorText="La date planifié dépasse les 48 heures"
          color="light" 
          fill="clear">

        </ion-input> 
      
      -->

      <!--
           <ion-icon           (click)="goToEvents()"
          color="medium" name="calendar-sharp" slot="icon-only">
        </ion-icon> -->

      </ion-col>
    
    </ion-item>
  </ion-list>

<!--
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
    loadingSpinner="circles"
    loadingText="Loading data">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

-->
</ion-content>
