<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>detail demande : {{ itemDetails.activation.prenom }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Retour</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <ion-row>
    <ion-col>

      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Date de demande</strong><br/>
          <ion-text>{{ itemDetails.dateDemande }}</ion-text>
        </ion-label>
      </ion-item>

    </ion-col>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Nature</strong><br/>
          <ion-text>{{ itemDetails.nature }}</ion-text>
        </ion-label>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Categorie</strong><br/>
          <ion-text>{{ itemDetails.category }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Abonnement</strong><br/>
          <ion-text>{{ itemDetails.abonnement }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Adresse</strong><br/>
          <ion-text>{{ itemDetails.activation.adresse }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Nom complet</strong><br/>
          <ion-text>{{ itemDetails.activation.prenom }} {{itemDetails.activation.nom}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>MSISDN</strong><br/>
          <ion-text>{{ itemDetails.activation.fix.msisdn }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>CGPS</strong><br/>
          <ion-text>{{ itemDetails.activation.latitude}},{{itemDetails.activation.longitude}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Contact 1</strong><br/>
          <ion-text>{{ itemDetails.activation.numContact }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>IMEI</strong><br/>
          <ion-text>{{ itemDetails.activation.fix.imei }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item detail="false" fill="outline" lines="none">
        <ion-label>
          <strong>Date d'intervention</strong><br/>
          <ion-text>{{ itemDetails.DatePlanif }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="display: flex; align-items: center; margin-right: 10px;">
      <div [style]="getStatusCircleStyle(itemDetails.status, 'status1')"></div>
      <ion-label style="margin-left: 5px;">Status 1</ion-label>
    </div>
  
    <div style="display: flex; align-items: center; margin-right: 10px;">
      <div [style]="getStatusCircleStyle(itemDetails.status, 'status2')"></div>
      <ion-label style="margin-left: 5px;">Status 2</ion-label>
    </div>
  
    <div style="display: flex; align-items: center;">
      <div [style]="getStatusCircleStyle(itemDetails.status, 'status3')"></div>
      <ion-label style="margin-left: 5px;">Status 3</ion-label>
    </div>
  </div>
  
</ion-card>

<ion-card>
  <ion-button color="danger" (click)="cancel()">Quitter</ion-button>
  <ion-button color="success" (click)="goToEvents(itemDetails.id,itemDetails.reservation?.prenom)">Replanifier</ion-button>
</ion-card>

</ion-content>

<!--

      value={{ itemDetails.contact }}              
      value={{ itemDetails.adresse }}
      value={{ itemDetails.datePlanif }}

-->
